* {
  background-color: #e4c1c1;
}
.title {
  font-family: Sansita Swashed;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}
.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
}
.cake,
.cupcake,
.donuts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid rgb(223, 218, 197) 2px;
  border-radius: 20px;
  background-color: rgb(240, 235, 227);
  padding: 40px;
}
#donut-image {
  width: 400px;
  height: 260px;
}

.image {
  width: 400px;
  height: auto;
}
a {
  font-size: 40px;
  font-family: Caprasimo;
  background-color: rgb(240, 235, 227);
  text-decoration: none;
  color: black;
  font-weight: 10;
  padding-top: 27px;
}

a:hover {
  color: rgba(79, 36, 79, 0.6);
  transition: 0.3s;
}
@media (max-width: 2720px) {
  .title {
    font-size: 80px;
  }
  .recipe-container {
    margin-top: 150px;
    gap: 60px;
    max-width: 2700px;
  }
  .image {
    width: 600px;
    height: auto;
  }
  #donut-image {
    width: 600px;
    height: 400px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 20px;
    text-align: center;
  }
  .recipe-container {
    margin-top: 25px;
    gap: 10px;
    max-width: 320px;
  }
  .image {
    width: 200px;
    height: auto;
  }
  #donut-image {
    width: 200px;
    height: 100px;
  }
  .cake,
  .cupcake,
  .donuts {
    padding: 18px;
  }
  a {
    font-size: 15px;
    padding-top: 13px;
  }
}
